<?xml version='1.0' encoding='UTF-8'?>
  
<module xmlns="urn:jboss:module:1.1" name="i2b2jdbc">
    <resources>
        <resource-root path="i2b2-jdbc.jar"/>
    </resources>

<!--
    <dependencies>
        <module name="javax.api"/>
        <module name="javax.transaction.api"/>
    </dependencies>
-->
</module>